<!doctype html>
<html>
<head>
    {% include 'bootstrap' %}
    <title>Welcome!</title>
</head>
<body style="background-color:black">
<div class="container-md p-2" style="background-color:white">
    <h3 class="text-center">Hello!</h3>
    <p>Welcome to my fun website! You are very early and not much is here! I'm working as fast as I can. But I plan on adding the following things soon: </p>
    <ul class="list-group">
        <li class="list-group-item">2021 event calandar</li>
        <li class="list-group-item">friend quote wall </li>
    </ul>
</div>
</body>
</html>