{{#*inline "page"}}

    <div class="container-sm my-4 p-3 bg-dark">

        <div class="card">
            <h3 class="text-center my-3">Please Login!</h3>
            {{#if context.message }}
                {{> utils/err_alert }}
            {{else}}
                <div class="alert alert-primary mx-5 mb-2 fs-6" role="alert">
                    If you are new here, <a class="alert-link" href="/users/signup">Join today! </a>
                </div>
            {{/if}}
            <div class="card-body">
                <form class="mx-5" action="/users/login" method="post">
                    <div class="input-group mb-2">
                        <span class="input-group-text" id="emlabel">Email: </span>
                        <input class="form-control" aria-labelledby="emlabel" type="email" id="email" name="email" required>

                    </div>
                    <div class="input-group mb-2">
                        <span class="input-group-text" id="paslb">Password</span>
                        <input name="password" class="form-control " id="password" required type="password" aria-labelledby="paslb"/>
                    </div>
                    <button class="btn-primary btn" type="submit">Submit!</button>
                </form>
            </div>
        </div>
    </div>
{{/inline}}
{{~>layout~}}